.verticalRadioGroup {
    display: flex;
    flex-direction: column;
    // margin: 15px 0;
}

.verticalRadioOption {
    margin-top: 8px;
}

mat-slide-toggle {
    margin: 8px 0;
    display: block;
}

ul {
    list-style-type: none;
    // margin-top: 15px;
}

li {
    margin-top: 8px;
}