<mat-stepper linear="true" orientation="vertical" #stepper>
  <mat-step [stepControl]="tripBasicsGroup">
    <form [formGroup]="tripBasicsGroup">
      <ng-template matStepLabel>Basics</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name der Reise</mat-label>
        <input
          matInput
          placeholder="Name der Reise"
          formControlName="tripNameCtrl"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Reisedaten</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            formControlName="tripStartCtrl"
            matStartDate
            placeholder="Start"
          />
          <input formControlName="tripEndCtrl" matEndDate placeholder="Ende" />
        </mat-date-range-input>
        <mat-hint>DD.MM.YYYY – DD.MM.YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error
          *ngIf="
            tripBasicsGroup.controls.tripStartCtrl.hasError(
              'matStartDateInvalid'
            )
          "
        >
          Ungültiges Startdatum
        </mat-error>
        <mat-error
          *ngIf="
            tripBasicsGroup.controls.tripEndCtrl.hasError('matEndDateInvalid')
          "
        >
          Ungültiges Enddatum
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="tripTypeGroup">
    <form [formGroup]="tripTypeGroup">
      <ng-template matStepLabel>Art der Reise</ng-template>
      <mat-radio-group
        aria-label="Select an option"
        (change)="radioButtonSelection(stepper)"
        class="verticalRadioGroup"
        formControlName="tripTypeCtrl"
      >
        <mat-radio-button
          *ngFor="let tripType of tripTypes$ | async"
          value="{{ tripType.key }}"
          class="verticalRadioOption"
          >{{ tripType.name }}</mat-radio-button
        >
      </mat-radio-group>
    </form>
  </mat-step>
  <mat-step [stepControl]="accomodationGroup">
    <form [formGroup]="accomodationGroup">
      <ng-template matStepLabel>Unterkunft</ng-template>
      <section>
        <ul>
          <li *ngFor="let accomodation of accomodations$ | async">
            <mat-checkbox
              [checked]="accomodation.checked"
              [formControl]="newFormControl(accomodation.key, this.accomodationGroup)"
            >
              {{ accomodation.name }}
            </mat-checkbox>
          </li>
        </ul>
      </section>
      <div>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="transportGroup">
    <form [formGroup]="transportGroup">
      <ng-template matStepLabel>Anreise</ng-template>
      <mat-radio-group
        aria-label="Select an option"
        (change)="radioButtonSelection(stepper)"
        class="verticalRadioGroup"
        formControlName="transportCtrl"
      >
        <mat-radio-button
          *ngFor="let transport of transports$ | async"
          value="{{ transport.key }}"
          class="verticalRadioOption"
          >{{ transport.name }}</mat-radio-button
        >
      </mat-radio-group>
    </form>
  </mat-step>
  <mat-step [stepControl]="activitiesGroup">
    <form [formGroup]="activitiesGroup">
      <ng-template matStepLabel>Geplante Aktivitäten</ng-template>
      <section>
        <ul>
          <li *ngFor="let activity of activities$ | async">
            <mat-checkbox
              [checked]="activity.checked"
              [formControl]="newFormControl(activity.key, this.activitiesGroup)"
            >
              {{ activity.name }}
            </mat-checkbox>
          </li>
        </ul>
      </section>
      <div>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="weatherGroup">
    <form [formGroup]="weatherGroup">
      <ng-template matStepLabel>Erwartetes Wetter</ng-template>
      <section>
        <ul>
          <li *ngFor="let weather of weathers$ | async">
            <mat-checkbox
              [checked]="weather.checked"
              [formControl]="newFormControl(weather.key, this.weatherGroup)"
            >
              {{ weather.name }}
            </mat-checkbox>
          </li>
        </ul>
      </section>
      <div>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Zurück</button>
      <button mat-button (click)="showSummary()">Zusammenfassung</button>
    </div>
  </mat-step>
</mat-stepper>
